/** 
* Date: june 9, 2016
*/

 
 
body {
	margin: 0;
	padding: 0;
}
.afc-design-page {
	max-width: 520px;
	margin: 0 auto;
	color: #000;
	font-size: 15px;
	font-family: 'GothamBook', Arial, Helvetica, sans-serif
}
.afc-design-page .paddingAll30 {
	padding: 30px;
}
.afc-design-page .section1 {
	background-position: center bottom;
	background-size: cover;
	font-size: 12px;
}
.afc-design-page .section1 .font14 {
	font-size: 14px;
}
.afc-design-page .section1.OPL-head {
	min-height: 470px
}
.afc-design-page .section1.head-height470 {
	min-height: 470px
}
.afc-design-page .white-text {
	color: #fff;
}
.afc-design-page .white-text a {
	text-decoration: underline;
	color: #fff !important;
}
.afc-design-page .cap {
	text-transform: capitalize
}
.afc-design-page .font20 {
	font-size: 20px;
	line-height: 26px;
}
.afc-design-page .font10 {
	font-size: 10px;
	line-height: 16px !important;
}
.afc-design-page .section1 .content-div {
	max-width: 250px;
}
.afc-design-page .section1 .content-div a {
	text-decoration: underline;
	color: #000
}
.afc-design-page .section1 .content-div p {
	margin-bottom: 20px;
	line-height: 20px;
}
.afc-design-page h1, .afc-design-page h2, .afc-design-page h3, .afc-design-page h4, .afc-design-page h5, .afc-design-page h6 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'AcuraBespokeRegular';
}
.afc-design-page h1 {
	font-size: 48px;
	line-height: 55px;
}
.afc-design-page h2 {
	font-size: 30px;
	line-height: 35px;
}
.afc-design-page h3 {
	font-size: 24px;
	line-height: 28px;
	font-family: 'GothamMedium', Arial, Helvetica, sans-serif
}
.afc-design-page .list01 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: left;
}
.afc-design-page .list01 li {
	margin-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	max-width: 200px;
	font-size: 15px;
}
.afc-design-page .list01.black-color li {
	color: #000
}
.afc-design-page .list01 li:last-child {
	margin-bottom: 0
}
.afc-design-page .list01 li img {
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-left: 5px;
}
.afc-design-page .list02 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.afc-design-page .list02 li {
	margin-bottom: 5px;
	color: #000;
	font-size: 14px;
}
.afc-design-page .list02 li:last-child {
	margin-bottom: 0
}
.afc-design-page .list02 li img {
	vertical-align: middle;
	position: relative;
	top: 0px;
	margin-left: 5px;
}
.afc-design-page .bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.afc-design-page .tab-section .tab-ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0
}
.afc-design-page h2 {
	background: #bfc5cb;
	margin: 0;
	padding: 30px 0;
	text-align: center;
	font-size: 38px;
}
.afc-design-page .tab-section .tab-ul li {
	display: inline-block;
	width: 50%;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
.afc-design-page .tab-section .tab-ul li a {
	padding: 25px 0;
	color: #000;
	text-decoration: none;
	text-align: center;
	background: #bfc5cb;
	display: block;
	position: relative;
	font-family: 'AcuraBespokeRegular';
}
.afc-design-page .tab-section .tab-ul li.active a {
	background: #90c6d6;
}
.afc-design-page .tab-section .tab-ul li.active a:after {
	content: "";
	background: url(../../images/arrow-img.png) no-repeat center;
	display: block;
	width: 40px;
	height: 21px;
	left: 50%;
	bottom: -20px;
	margin-left: -10px;
	position: absolute;
}
.afc-design-page .gray-bg {
	background: #bfc5cb;
}
.afc-design-page .blue-bg {
	background: #94bdd4;
}
.afc-design-page .comman-cont-section {
	line-height: 22px;
}
.afc-design-page .comman-cont-section a {
	color: #000;
	text-decoration: underline
}
.afc-design-page .comman-cont-section h3 {
	margin-bottom: 25px;
}
.afc-design-page .black-bg {
	background: #000;
	color: #989898;
}
.afc-design-page .footer-section {
	font-size: 10px;
}
.afc-design-page .list-style03 {
	margin: 0;
	padding: 0;
	margin-left: 25px;
}
.afc-design-page .list-style03 li {
	margin-bottom: 5px;
}
